<div id="<%= dom_id friend %>">
  <p>
    <strong>Primeiro nome:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Último nome:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

</div>
